body{
    margin: 20px;
}
header{
     text-align: center;
     font-size: 91px;
     font-family: ZCOOL KuaiLe;
     padding-left: 20px;
     padding-right: 20px;
     background-color: aqua;
     text-decoration-color: rgb(9, 9, 102);
     text-shadow: rgba(0, 0, 0, 0.664);
     border: solid steelblue 5px ;
     height: 95px;
     border-radius: 6px;
}
header h1{
    font-size: 80px;
}
nav{
    height: 49px;
    border-radius: 8px;
}
section{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f4f4f4;

}
.books{
    padding-bottom: 10px;
}
h2{
    text-decoration: underline;
}
@media screen and (max-width:1045px) and (min-width:601px){
    img{
        height:500px;
        display:inline;
        width: 50%;

    }

    .container{
        bottom:0%;
    }  
        
}
@media screen and (max-width:600px) and (min-width:400px){
     img{
         height: 600px;
         display: block;
        width: 100%;
     }
    

}
@media screen and (max-width:599px) and (min-width:100px){
     img{
         height: 500px;
         display: block;
        width: 100%;
     }
   

}


